.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1A3D73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  flex-wrap: wrap;
  direction: rtl;
  }
  
  .navbar--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__logo {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem; /* Add this line to add some space between the logo and the icons */
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar__links li {
    margin-left: 1rem; /* Reduce this value to bring the icons closer to the logo */
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .navbar__links a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar__links a:hover {
    color: #FF8C00;
  }
  .navbar__social {
    display: flex;
    gap: 1.4rem;
    margin-right: -35em;
  }

  @media screen and (max-width: 1430px) {
    .navbar__social {
      margin-right: 1rem;
    }
  }
  @media screen and (max-width: 1040px) {
    .navbar__social {
      gap: 0.8rem; /* Decrease the gap between social media icons */
    }
  
    .navbar__links li {
      font-size: 1rem; /* Decrease the font size for links */
    }
  }
  @media screen and (max-width: 938px) {
    .navbar__links {
      width: 100%; /* Make the container span the full width of the navbar */
      justify-content: center; /* Change this line */
    }
  }
  .navbar__social a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
  }
  
  .navbar__social a:hover {
    color: #ddd;
  }

  