.App {
  text-align: center;
}
.section {
  min-height: 75vh;
  box-sizing: border-box;
}
.section p {
  max-width: 800px; /* Adjust this value to the desired width */
  margin: 0 auto; /* Center the element horizontally */
  text-align: center;
}
.contact-btn {
  padding: 2rem 3rem;
  border: none;
  background-color: #C2528B;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.contact-btn:hover {
  background-color: #555;
}


.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

.team-item {
  text-align: center;
}

.team-item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-item h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-item p {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}
.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.services-column {
  display: flex;
  flex-direction: column;
}

.services-column h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.services-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-column li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

img:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.heroSection{
  position: relative;
}
.heroSection img{
  height: auto;
  width: 100%;
}

.servicesBackground{
  background-color: #F3F3F3;
  color: #1A3D73 ;
}
.aboutus{
  background-color: white;
}
.aboutus > h1{
  color: #1A3D73;
}
.testimonials{
  background-color: #F3F3F3;
}
.testimonials > h1{
  color: #1A3D73;
}
.testimonials > h2{
  color: #333333;
}